html {
    background: linear-gradient(#1d7281, #0a0d33);
    height: 100%;
}

body {
    background-color: #ffffff00;
}

#mainBox {
    top: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    height: 70%;
    background-color: #ffffff00;
}

.contentBox {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    width: 60%;
    border-radius: 20px;
}

.contentBox p, h3 {
    background-color: #ffffff00;
    text-align: center;
    padding-top: 2px;
}

.video {
    display: flex;
    justify-content: center;
}