{{!-- <script defer src="/js/findEpisode.js"></script> --}}
<form id="animeForm" acton="/getAnime" method="post" enctype="multipart/form-data">
<h5>Upload a screenshot to search for an episode</h5>
<input type="file" name="screen"/>
<br/>
<button type="submit">GET</button>
</form>